In [1]:
#Importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Uploading the dataset
df = pd.read_excel("C:/Users/Faith/Downloads/Tech job salaries ediuted (Autosaved) (1).xlsx")
df.head(5)

,work_year,Experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,Company_size
0,2020,Middle level,Full-Time,Data Scientist,70000,EUR,79833,DE,0,DE,Large
1,2020,Senior level,Full-Time,Machine Learning Scientist,260000,USD,260000,JP,0,JP,Small
2,2020,Senior level,Full-Time,Big Data Engineer,85000,GBP,109024,GB,50,GB,Medium
3,2020,Middle level,Full-Time,Product Data Analyst,20000,USD,20000,HN,0,HN,Small
4,2020,Senior level,Full-Time,Machine Learning Engineer,150000,USD,150000,US,50,US,Large

f) Predictive analysis for forecasting salaries based on experience and job titles.

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score

# Encode categorical variables
label_encoder = LabelEncoder()
df['Experience_level'] = label_encoder.fit_transform(df['Experience_level'])
df['job_title'] = label_encoder.fit_transform(df['job_title'])

# Define features and target variable
X = df[['work_year', 'Experience_level', 'job_title']]
y = df['salary']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Squared Error: 8274428413226.068
R-squared: 9.475465574038111e-05