In [1]:
#Importing the necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Loading our data
data = pd.read_excel("C:/Users/Faith/Downloads/Tech job salaries ediuted (Autosaved) (1).xlsx")
data.head(5)

,work_year,Experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,Company_size
0,2020,Middle level,Full-Time,Data Scientist,70000,EUR,79833,DE,0,DE,Large
1,2020,Senior level,Full-Time,Machine Learning Scientist,260000,USD,260000,JP,0,JP,Small
2,2020,Senior level,Full-Time,Big Data Engineer,85000,GBP,109024,GB,50,GB,Medium
3,2020,Middle level,Full-Time,Product Data Analyst,20000,USD,20000,HN,0,HN,Small
4,2020,Senior level,Full-Time,Machine Learning Engineer,150000,USD,150000,US,50,US,Large

In [6]:
#Checking for the data types
data.dtypes

work_year              int64
Experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
Company_size          object
dtype: object

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           565 non-null    int64
 1   Experience_level    565 non-null    object
 2   employment_type     565 non-null    object
 3   job_title           565 non-null    object
 4   salary              565 non-null    int64
 5   salary_currency     565 non-null    object
 6   salary_in_usd       565 non-null    int64
 7   employee_residence  565 non-null    object
 8   remote_ratio        565 non-null    int64
 9   company_location    565 non-null    object
 10  Company_size        565 non-null    object
dtypes: int64(4), object(7)
memory usage: 48.7+ KB

In [9]:
#Checking for summary statistis
data.describe().T

,count,mean,std,min,25%,50%,75%,max
work_year,565.0,2021.364602,6.981384e-01,2020.0,2021.0,2021.0,2022.0,2022.0
salary,565.0,338115.985841,1.599879e+06,4000.0,67000.0,110925.0,165000.0,30400000.0
salary_in_usd,565.0,110610.343363,7.228070e+04,2859.0,60757.0,100000.0,150000.0,600000.0
remote_ratio,565.0,69.911504,4.090067e+01,0.0,50.0,100.0,100.0,100.0

In [10]:
#Checking for duplicates
data.duplicated().sum()

0

In [11]:
#Checking for missing values
data.isnull().sum()

work_year             0
Experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
Company_size          0
dtype: int64